.figure {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 50%;
}

.banner {
 display: block;
 margin-left: auto;
 margin-right: auto;
}

.paragraph {
 text-align: justify;
}

.centered {
 text-align: center;
}